body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
}

.buttons button {
    padding: 10px 15px;
    margin: 5px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.output {
    background: #eef;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

pre {
    white-space: pre-wrap;
}